{{#partial "content"}}
<div class="container">
    <h5>Delete a Site!</h5>
<form action="/sitedelete" class="needs-validation" novalidate method="post">
<div class="form-group">
    <label for="pwd">Delete site:</label>
    <select id="id" name="id" class="form-control" >
        {{#each sites}}
            <option name="{{id}}" value="{{id}}" class="form-control" required type="text">{{sitename}} </option>
        {{/each}}
    </select>
    <div class="valid-feedback">Valid.</div>
    <div class="invalid-feedback">Please fill out this field.</div>
</div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="remember" required> I agree that information is valid
            <div class="valid-feedback">Valid.</div>
            <div class="invalid-feedback">Check this checkbox to submit.</div>
        </label>
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
</form>
</div>

<script>
    // Disable form submissions if there are invalid fields
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Get the forms we want to add validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

{{/partial}}

{{> layout.hbs}}